{% extends "base.html" %}

{% block title %}{{ anime.title }}{% endblock %}

{% block main_class %}wide-container{% endblock %}

{% block content %}

<section class="anime-detail-section">

    <a href="{{ url_for('dashboard') }}" class="secondary-btn">
        Back to Dashboard
    </a>

    <div class="anime-detail-card">
        <form 
                    action="{{ url_for('delete_anime', anime_id=anime.id) }}" 
                    method="POST"
                    class="delete-anime-form"
                    onsubmit="return confirm('Are you sure you want to delete this anime from your library?');">
                    <button type="submit" class="delete-anime-btn"> 
                        Delete Anime
                    </button>
                </form>
        <img 
            src="{{ anime.image_url }}" 
            alt="{{ anime.title }}" 
            class="anime-detail-image"
        >

        <div class="anime-detail-content">
            
            <h1>{{ anime.title }}</h1>

            

            <p><strong>Episodes:</strong> {{ anime.current_episode }} / {{ anime.total_episodes or "Unknown" }} Watched</p>

            <p><strong>Status:</strong> {{ anime.status }}</p>
            <p><strong>Genre:</strong> {{ anime.genre }}</p>
            <p><strong>API Score:</strong> {{ anime.api_score }}</p>

            {% if anime.rating %}
                <p><strong>Your Rating:</strong> {{ anime.rating }}/10</p>
            {% else %}
                <p><strong>Your Rating:</strong> Not rated yet</p>
            {% endif %}

            <div class="anime-edit-section">
                <h3>Update Anime</h3>

                <form action="{{ url_for('update_anime', anime_id=anime.id) }}" method="POST">

                    <label for="status">Status</label>
                        <select name="status" id="status">
                        <option value="Plan to Watch" {% if anime.status == "Plan to Watch" %}selected{% endif %}>
                                Plan to Watch
                            </option>

                            <option value="Watching" {% if anime.status == "Watching" %}selected{% endif %}>
                                Watching
                            </option>

                            <option value="Completed" {% if anime.status == "Completed" %}selected{% endif %}>
                                Completed
                            </option>

                            <option value="On Hold" {% if anime.status == "On Hold" %}selected{% endif %}>
                                On Hold
                            </option>

                            <option value="Dropped" {% if anime.status == "Dropped" %}selected{% endif %}>
                                Dropped
                            </option>
                        </select>

                        <label for="rating">Your Rating</label>
                        <select name="rating" id="rating">
                            <option value="">No rating</option>

                            {% for number in range(1, 11) %}
                                <option value="{{ number }}" {% if anime.rating == number %}selected{% endif %}>
                                    {{ number }}/10
                                </option>
                            {% endfor %}
                        </select>

        <button type="submit" class="primary-btn">
            Save Changes
        </button>

    </form>
</div>

            {% if anime.synopsis %}
                <div class="anime-synopsis">
                    <h3>Synopsis</h3>
                    <p>{{ anime.synopsis }}</p>
                </div>
            {% endif %}

            <div class="anime-actions">
                <form action="{{ url_for('increase_episode', anime_id=anime.id) }}" method="POST">
                    <button type="submit" class="primary-btn">
                        +1 Episode
                    </button>
                </form>

                <form action="{{ url_for('decrease_episode', anime_id=anime.id) }}" method="POST">
                    <button type="submit" class="secondary-btn">
                        -1 Episode
                    </button>
                </form>


            </div>

        </div>

    </div>

</section>

{% endblock %}