<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Andeki</title>
</head>
<body>

    <nav class="navbar">
        <div class="nav-logo">
            <a href="/">andeki</a>
        </div>

        <div class="nav-links">
             {% if session.get("user_id") %}
                <span class="nav-user">Logged in as {{ session.get("username") }}</span>
                <a href="/dashboard">Dashboard</a>
                <a href="/search">Search</a>

                <form action="{{ url_for('logout') }}" method="POST" class="logout-form">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% endif %}
        </div>
    </nav>

    <hr>

    <main class="{% block main_class %}container{% endblock %}">

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-box flash-{{ category }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>


</body>
</html>