<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andeki</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/search">Search Anime</a>
        <a href="/register">Register</a>
    </nav>

    <hr>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}


    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>