{% extends "base.html" %}

{% block content %}
    <h1>Your Anime Library</h1>

{% if anime_list %}
    <div class="anime-grid">
        {% for anime in anime_list %}
            <a href="{{ url_for('anime_detail', anime_id=anime.id) }}" class="anime-card-link">
                <div class="anime-card">
                    <img src="{{ anime.image_url }}" alt="{{ anime.title }}">

                    <div class="anime-card-content">
                        <h2>{{ anime.title }}</h2>

                        <p><strong>Episodes:</strong> {{ anime.current_episode }} / {{ anime.total_episodes or "Unknown" }} Watched</p>

                        <p><strong>Status:</strong> {{ anime.status }}</p>

                        <p><strong>Genres:</strong> {{ anime.genre or "Unknown" }}</p>

                        <p><strong>MAL Score:</strong> {{ anime.api_score or "N/A" }}</p>
                        {% if anime.rating %}
                            <p><strong>Your Rating:</strong> {{ anime.rating }}/10</p>
                        {% else %}
                            <p><strong>Your Rating:</strong> Not rated yet</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>You have not added any anime to your library yet.</p>
    <a href="{{ url_for('search') }}" class="primary-btn">Search Anime</a>
{% endif %}
{% endblock %}